extends ../layout/layout

block content
    section.section
        .container
            form(method="POST", action="/events/create")
                .field
                    label.label Title
                    .control
                        input.input(type="text", name="title", placeholder="James Bday", required)
                .field
                    .control
                        button.button(type="submit") Create